@import url(style.css);



aside h1 {
    font-size: 32rem;
    align-items: center;
    color: brown;
   
    display: flex;
    flex-direction: column;
    justify-content: center;

}

aside table {
    font-size: 24rem;
    padding: 16rem;
    border: solid brown;
    background: rgb(255, 207, 207);
    margin-top: 32rem;
}

aside table td {
    padding: 4rem;
}

.TablePromotion {
    color: red;
}

aside p {
    text-align: center;
    margin-top: 8rem;
}

main h2 {
    margin-top: 32rem;

    background: brown;

    
}