@import url(style.css);

:root {
    font-size: 6.25%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h2 {
    font-size: 48rem;
    text-align: left;
    color: rgb(0, 11, 59);
    text-shadow: blueviolet 1rem 1rem 1rem;
}

h3 {
    font-size: 32rem;
    text-align: left;
    color: rgb(33, 3, 61);
    text-shadow: rgb(23, 23, 112) 1rem 1rem 1rem;
}